In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, ShuffleSplit, GridSearchCV
from sklearn.metrics import roc_auc_score, roc_curve, auc

import os
import time
import sys

In [4]:
df = pd.read_csv("Train data values.csv")

df2 = pd.read_csv("Train data targets or labels.csv")

In [5]:
df2.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [6]:
df.insert(0, "status_group", df2["status_group"], allow_duplicates = False)

In [7]:
df["bin_status"] = df.apply(lambda r: 1 if r.status_group > "functional" else 0 , axis=1)

In [8]:
df.head()

,status_group,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,bin_status
0,functional,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,0
1,functional,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,0
2,functional,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,0
3,non functional,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,1
4,functional,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,0

In [9]:
y=df["bin_status"]

In [10]:
df.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,bin_status
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475,0.456919
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547,0.498145
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000,0.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000,1.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000,1.000000

In [11]:
df.dtypes

status_group              object
id                         int64
amount_tsh               float64
date_recorded             object
funder                    object
gps_height                 int64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private                int64
basin                     object
subvillage                object
region                    object
region_code                int64
district_code              int64
lga                       object
ward                      object
population                 int64
public_meeting            object
recorded_by               object
scheme_management         object
scheme_name               object
permit                    object
construction_year          int64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
bin_status                 int64
dtype: object

In [12]:
len(df.columns)

42

In [13]:
del df["num_private"]

In [14]:
del df["id"]

In [15]:
del df["wpt_name"]

In [16]:
del df["public_meeting"]

In [17]:
del df["recorded_by"]

In [18]:
del df["scheme_name"]

In [19]:
del df["extraction_type"]

In [20]:
del df["extraction_type_group"]

In [21]:
del df["management"]

In [22]:
del df["payment"]

In [23]:
del df["quality_group"]

In [24]:
del df["source"]

In [25]:
del df["waterpoint_type"]

In [26]:
del df["lga"]

In [27]:
del df["date_recorded"]

In [28]:
del df["region_code"]

In [29]:
del df["district_code"]

In [30]:
del df["quantity_group"]

In [31]:
del df["status_group"]

In [32]:
len(df.columns)

23

In [33]:
df.columns

Index(['amount_tsh', 'funder', 'gps_height', 'installer', 'longitude',
       'latitude', 'basin', 'subvillage', 'region', 'ward', 'population',
       'scheme_management', 'permit', 'construction_year',
       'extraction_type_class', 'management_group', 'payment_type',
       'water_quality', 'quantity', 'source_type', 'source_class',
       'waterpoint_type_group', 'bin_status'],
      dtype='object')

In [34]:
df.columns.sort_values()

Index(['amount_tsh', 'basin', 'bin_status', 'construction_year',
       'extraction_type_class', 'funder', 'gps_height', 'installer',
       'latitude', 'longitude', 'management_group', 'payment_type', 'permit',
       'population', 'quantity', 'region', 'scheme_management', 'source_class',
       'source_type', 'subvillage', 'ward', 'water_quality',
       'waterpoint_type_group'],
      dtype='object')

In [35]:
[df.dtypes.sort_values()]

[bin_status                 int64
 construction_year          int64
 gps_height                 int64
 population                 int64
 latitude                 float64
 amount_tsh               float64
 longitude                float64
 basin                     object
 source_class              object
 source_type               object
 quantity                  object
 water_quality             object
 payment_type              object
 management_group          object
 extraction_type_class     object
 permit                    object
 waterpoint_type_group     object
 installer                 object
 ward                      object
 region                    object
 subvillage                object
 funder                    object
 scheme_management         object
 dtype: object]

In [36]:
cat_cols=['source_class',             
'source_type',              
'quantity',                  
'water_quality',             
'payment_type',              
'management_group',          
'extraction_type_class',     
'scheme_management',  
'waterpoint_type_group',     
'ward',                      
'region',                    
'subvillage',                
'basin',                     
'installer',                 
'funder',                    
'permit',                    
'bin_status' ]

In [37]:
cat_pd=df[cat_cols]

In [38]:
for each in cat_cols:
    print(each,cat_pd[each].nunique())

source_class 3
source_type 7
quantity 5
water_quality 8
payment_type 7
management_group 5
extraction_type_class 7
scheme_management 12
waterpoint_type_group 6
ward 2092
region 21
subvillage 19287
basin 9
installer 2145
funder 1897
permit 2
bin_status 2

# gotta drop these or label encode
* ward 2092
* subvillage 19287
* installer 2145
* funder 1897

In [39]:
df.shape

(59400, 23)

In [40]:
features_to_use = [
    'amount_tsh', 'gps_height',
       'longitude', 'latitude', 'basin', 'region',
       'population', 'scheme_management', 'permit',
       'construction_year', 'extraction_type_class', 'management_group',
       'payment_type', 'water_quality', 'quantity', 'source_type',
       'source_class', 'waterpoint_type_group'
]

In [41]:
X = df[features_to_use]

In [42]:
y = df["bin_status"]

In [43]:
X.head()

,amount_tsh,gps_height,longitude,latitude,basin,region,population,scheme_management,permit,construction_year,extraction_type_class,management_group,payment_type,water_quality,quantity,source_type,source_class,waterpoint_type_group
0,6000.0,1390,34.938093,-9.856322,Lake Nyasa,Iringa,109,VWC,False,1999,gravity,user-group,annually,soft,enough,spring,groundwater,communal standpipe
1,0.0,1399,34.698766,-2.147466,Lake Victoria,Mara,280,Other,True,2010,gravity,user-group,never pay,soft,insufficient,rainwater harvesting,surface,communal standpipe
2,25.0,686,37.460664,-3.821329,Pangani,Manyara,250,VWC,True,2009,gravity,user-group,per bucket,soft,enough,dam,surface,communal standpipe
3,0.0,263,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,58,VWC,True,1986,submersible,user-group,never pay,soft,dry,borehole,groundwater,communal standpipe
4,0.0,0,31.130847,-1.825359,Lake Victoria,Kagera,0,NaN,True,0,gravity,other,never pay,soft,seasonal,rainwater harvesting,surface,communal standpipe

In [44]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: bin_status, dtype: int64

In [45]:
X_encoded = pd.get_dummies(X)

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, random_state=42)

In [47]:
X_train.shape, X_test.shape

((44550, 98), (14850, 98))

In [48]:
X_train.head()

,amount_tsh,gps_height,longitude,latitude,population,construction_year,basin_Internal,basin_Lake Nyasa,basin_Lake Rukwa,basin_Lake Tanganyika,...,source_type_spring,source_class_groundwater,source_class_surface,source_class_unknown,waterpoint_type_group_cattle trough,waterpoint_type_group_communal standpipe,waterpoint_type_group_dam,waterpoint_type_group_hand pump,waterpoint_type_group_improved spring,waterpoint_type_group_other
24947,20.0,330,38.123839,-6.087137e+00,80,1972,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
22630,0.0,0,0.000000,-2.000000e-08,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
13789,0.0,0,33.312321,-2.814100e+00,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
15697,0.0,1542,34.783049,-4.842093e+00,23,2010,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
22613,0.0,523,34.660944,-1.070733e+01,1,2013,0,1,0,0,...,1,1,0,0,0,1,0,0,0,0

In [49]:
sds = StandardScaler()
sds.fit(X_train)
X_train = sds.transform(X_train)
X_test = sds.transform(X_test)

In [50]:
RandomForestClassifier(n_estimators=100,max_leaf_nodes=12,max_depth=30)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=30, max_features='auto', max_leaf_nodes=12,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [51]:
t0 = time.time()
clf = RandomForestClassifier(n_estimators=60,n_jobs=12)
  
clf.fit(X_train, y_train)
t1 = time.time()
   
ypred = clf.predict(X_test)
scores = roc_auc_score(y_test, ypred)
    
print(f"Random Forest took {t1-t0} seconds to train and got a score of {scores}")
print()
print("And here are the top features: ")
c = X_encoded.columns 
for cfi in zip(c, clf.feature_importances_):
    print(cfi)
print()

Random Forest took 1.5350191593170166 seconds to train and got a score of 0.8078197003765483

And here are the top features:
('amount_tsh', 0.03002392418478126)
('gps_height', 0.07664145658095617)
('longitude', 0.16072056446263924)
('latitude', 0.15763310775027048)
('population', 0.05266268129545824)
('construction_year', 0.060753450265881845)
('basin_Internal', 0.004893403687384717)
('basin_Lake Nyasa', 0.0038110333519065787)
('basin_Lake Rukwa', 0.0038094209883170445)
('basin_Lake Tanganyika', 0.003953663990236171)
('basin_Lake Victoria', 0.003878738630419606)
('basin_Pangani', 0.003048660084120809)
('basin_Rufiji', 0.0037036951332074263)
('basin_Ruvuma / Southern Coast', 0.003060860587954036)
('basin_Wami / Ruvu', 0.003347532750696452)
('region_Arusha', 0.0027126050982294618)
('region_Dar es Salaam', 0.0006458410595174205)
('region_Dodoma', 0.0016142415143666632)
('region_Iringa', 0.006021491999574731)
('region_Kagera', 0.0022687395386970454)
('region_Kigoma', 0.0027736886628620737)
('region_Kilimanjaro', 0.00258155442856185)
('region_Lindi', 0.0016679414896613697)
('region_Manyara', 0.0015363817194387693)
('region_Mara', 0.001956522391288448)
('region_Mbeya', 0.0019258005854218135)
('region_Morogoro', 0.002199454639329692)
('region_Mtwara', 0.0015168672953133305)
('region_Mwanza', 0.002265061593467724)
('region_Pwani', 0.0019026101363882346)
('region_Rukwa', 0.001320212809576208)
('region_Ruvuma', 0.001372685749434216)
('region_Shinyanga', 0.0027867475826636222)
('region_Singida', 0.0021094199787077576)
('region_Tabora', 0.0013484330650817382)
('region_Tanga', 0.002226801930374397)
('scheme_management_Company', 0.001365951482050539)
('scheme_management_None', 9.860736199465247e-07)
('scheme_management_Other', 0.0011696708980122067)
('scheme_management_Parastatal', 0.0016375988247813082)
('scheme_management_Private operator', 0.001643737089402847)
('scheme_management_SWC', 0.00012108638171113858)
('scheme_management_Trust', 0.00019389383256095791)
('scheme_management_VWC', 0.009019356326466962)
('scheme_management_WUA', 0.00224345464134599)
('scheme_management_WUG', 0.003959057568145105)
('scheme_management_Water Board', 0.0036789206416757824)
('scheme_management_Water authority', 0.0035514849278810586)
('permit_False', 0.007832565359664655)
('permit_True', 0.00889812566701239)
('extraction_type_class_gravity', 0.007206426643010715)
('extraction_type_class_handpump', 0.008730337386520577)
('extraction_type_class_motorpump', 0.0036360908344689868)
('extraction_type_class_other', 0.02409925473909128)
('extraction_type_class_rope pump', 0.0010785225885691474)
('extraction_type_class_submersible', 0.004990332649403623)
('extraction_type_class_wind-powered', 0.00037604000817677497)
('management_group_commercial', 0.00420194420956596)
('management_group_other', 0.0014457487430575438)
('management_group_parastatal', 0.001878925463271683)
('management_group_unknown', 0.0009656156025602059)
('management_group_user-group', 0.005894313619522548)
('payment_type_annually', 0.0036687249585246606)
('payment_type_monthly', 0.004865486107828532)
('payment_type_never pay', 0.013346081895105413)
('payment_type_on failure', 0.003643016304375612)
('payment_type_other', 0.0013302716887885098)
('payment_type_per bucket', 0.006964052598284618)
('payment_type_unknown', 0.006336222195103081)
('water_quality_coloured', 0.0010715548827446514)
('water_quality_fluoride', 0.0005215618831521962)
('water_quality_fluoride abandoned', 0.00010775148810617643)
('water_quality_milky', 0.0014932978124871058)
('water_quality_salty', 0.004384515839411051)
('water_quality_salty abandoned', 0.0008920537891814503)
('water_quality_soft', 0.007224092352394914)
('water_quality_unknown', 0.006708912930247006)
('quantity_dry', 0.06988311009394504)
('quantity_enough', 0.028915701100049398)
('quantity_insufficient', 0.014925447697506204)
('quantity_seasonal', 0.006679153461803695)
('quantity_unknown', 0.002113917658396687)
('source_type_borehole', 0.006399451042518347)
('source_type_dam', 0.0014669620830134995)
('source_type_other', 0.0006496978609425553)
('source_type_rainwater harvesting', 0.0034407738370125064)
('source_type_river/lake', 0.004016245967891795)
('source_type_shallow well', 0.006823103406290289)
('source_type_spring', 0.006627588768907711)
('source_class_groundwater', 0.003944976223982685)
('source_class_surface', 0.004946758523094474)
('source_class_unknown', 0.00046180423086248864)
('waterpoint_type_group_cattle trough', 0.0005571071712466663)
('waterpoint_type_group_communal standpipe', 0.009292416980330155)
('waterpoint_type_group_dam', 2.243340034007817e-05)
('waterpoint_type_group_hand pump', 0.007601235596997163)
('waterpoint_type_group_improved spring', 0.0020944711159733304)
('waterpoint_type_group_other', 0.030065307839423735)

In [52]:
from sklearn.externals import joblib
filename = 'finalized_model.sav'
joblib.dump(clf, filename)

['finalized_model.sav']

In [53]:
df_test = pd.read_csv("Test data.csv")
df_test.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [54]:
y_pred=clf.predict(X_test)

In [55]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, target_names=["0", "1"]))

             precision    recall  f1-score   support

          0       0.81      0.85      0.83      8098
          1       0.81      0.76      0.79      6752

avg / total       0.81      0.81      0.81     14850